name = "task-manager-api"
main = "src/index.js"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "task-manager-db"
database_id = "0240f057-ab91-4d8f-97c3-986e363be4c3"

[vars]
JWT_SECRET = "your-production-jwt-secret-change-this"
